body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font: 500 1.25rem "Passion One", cursive;
}

.card-img-overlay .card-title {
  color: rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0,);
}